.shop-page{
    @media screen and (max-width: 800px){
        margin-top: 3.5rem;
        }
    h1{
        color: rgb(55, 119, 216);
        @media screen and (max-width: 800px){
            font-size: 10px;
            }
    }
    span{
        font-weight: 500;
        
    }
}