.collection-page {
  display: grid;
  flex-direction: column;

  .title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 800px) {
      font-size: 16px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .items {
    display: grid;
    // justify-self: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1100px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
