.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    font-size: 1.7rem;
    color: rgb(69, 68, 68);
    @media screen and (max-width: 1050px) {
      font-size: 1.3rem;
    }
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 0px;
    right: -5px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    @media screen and (max-width: 1050px) {
      height: 15px;
      width: 15px;
      font-size: 10px;
      right: 2px;
      top: 5px;
    }
  }
}
