.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: rgb(255, 235, 206);
  padding: 0 1rem;
  padding-bottom: 1rem;

  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
    padding: 0rem;
  }

  // @media screen and (max-width: 800px) {
  //   padding: 10px;
  //   // height: 60px;
  //   // margin-bottom: 20px;
  // }

  .logo-container {
    height: 100%;
    width: fit-content;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 5px;

    h2 {
      align-self: flex-end;
      font-weight: 500;
      font-size: 1.3rem;
      text-transform: uppercase;
      display: none;
    }

    @media screen and (max-width: 1050px) {
    }

    @media screen and (max-width: 800px) {
      // width: 50px;
      padding: 15px;
    }
  }

  .links {
    display: grid;
    justify-self: center;
    font-weight: 500;
    align-self: center;
    // text-transform: uppercase;
    // margin-top: 0px;
    @media screen and (max-width: 1050px) {
      display: none;
    }
    h2 {
      margin-top: 40px;
      letter-spacing: 5px;
      @media screen and (max-width: 1050px) {
        margin-top: 0;
        letter-spacing: 2px;
        font-size: 1.2rem;
      }
    }

    .categories {
      display: flex;
      gap: 20px;
      justify-self: center;
      margin-top: 15px;
      color: rgb(110, 109, 109);

      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-self: end;
    align-self: center;
    font-weight: 500;
    margin-right: 20px;

    @media screen and (max-width: 800px) {
      width: 75%;
      font-size: 14px;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: rgb(69, 68, 68);

      @media screen and (max-width: 800px) {
        padding: 10px 6px;
      }
    }
  }
}
