.menu-item {
  min-width: 30%;
  height: 35rem;
  flex: 1 1 auto;
  display: flex;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  // margin: 0 9.5px 25px;
  overflow: hidden;

  &:first-child {
    // margin-right: 9.5px;
  }

  &:last-child {
    // margin-left: 9.5px;
  }
  &.large {
    // height: 380px;

    @media screen and (max-width: 800px) {
      height: 200px;
    }
  }
  .background-image {
    width: 100%;
    height: 100%;
    // background-size: cover;
    // background-position: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    // height: 90px;
    position: absolute;
    width: 12rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff61;
    @media screen and (max-width: 1050px) {
      width: 8rem;
    }
    // opacity: 0.3;

    .title {
      font-weight: 400;
      font-size: 1.6rem;
      color: #181717;
      @media screen and (max-width: 800px) {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      text-decoration: none;
      color: #4a4a4a;
      display: none;
      @media screen and (max-width: 800px) {
        font-size: 15px;
      }
    }
  }
  &:hover {
    cursor: pointer;

    // & .background-image {
    //   transform: scale(1.1);
    //   transition: transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    // }
    // & .content {
    //   opacity: 0.9;
    // }
  }
  @media screen and (max-width: 800px) {
    height: 200px;
  }
}
