.menu-item {
  min-width: 30%;
  height: 35rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 1050px) {
    height: 25rem;
  }

  &:last-child {
    // margin-left: 9.5px;
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    // height: 90px;
    position: absolute;
    width: 12rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff61;
    @media screen and (max-width: 1050px) {
      width: 8rem;
    }

    .title {
      font-weight: 400;
      font-size: 1.6rem;
      color: #181717;
      @media screen and (max-width: 800px) {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      text-decoration: none;
      color: #4a4a4a;
      display: none;
      @media screen and (max-width: 800px) {
        font-size: 15px;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
