.payment-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;

  .card {
    display: grid;
    justify-self: center;
    margin-top: 1rem;
    border-radius: 5px;
    width: 18rem;
    font-family: "Montserrat", sans-serif;

    @media screen and (max-width: 1100px) {
      width: 18rem;
      margin-top: 0;
    }

    .header {
      display: grid;
      text-align: center;
      align-items: center;
      background: #fff;
      grid-template-columns: repeat(2, 1fr);
      //   height: 5rem;
      padding: 1rem;
      position: relative;

      .image {
        display: flex;
        align-items: center;
        gap: 3px;

        img {
          width: 35px;
          @media screen and (max-width: 1100px) {
            width: 30px;
          }
        }
      }

      h3 {
        font-size: 16px;
        margin-top: 5px;
        @media screen and (max-width: 1100px) {
          font-size: 16px;
        }
      }
      p {
        margin-bottom: 20px;
      }

      .cancel {
        color: #030303;
        font-size: 18px;
        justify-self: end;
        cursor: pointer;
      }
    }

    .form {
      padding: 20px 20px;
      background: rgb(80, 126, 86);
      padding-top: 30px;
      color: #fff;
      display: grid;
      justify-content: center;

      input {
        width: 16rem;
        padding: 10px;
        border-radius: 6px;
        border: none;
        outline: none;
        margin-bottom: 20px;
        margin-top: -5px;
        font-family: "Montserrat", sans-serif;
        background: rgb(226, 223, 223);
        color: #fff;
        @media screen and (max-width: 1100px) {
          width: 12rem;
        }
      }
      label {
        font-size: 10px;
        letter-spacing: 2px;
      }

      .money {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
      }

      .paystack {
        padding: 12px;
        width: 10rem;
        background: rgb(12, 153, 130);
        color: #fff;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: inherit;
        font-weight: 500;
        justify-self: center;
        margin-top: 20px;
      }
    }
  }
}
